mixin footer()
	+b.FOOTER.footer.section
		.container
			+e.row.row
				+e.col.col-sm-auto.order-lg-last
					+e.social
						small Следите за&nbsp;нами
						+soc()
				+e.col.col-lg-auto.d-none.d-sm-block
					+e.item
						h5 Двери
						+e.item-wrap
							ul
								li: a(href="#") Rocca
								li: a(href="#") Mascot
								li: a(href="#") Planum
								li: a(href="#") Planum Pro
								li: a(href="#") Linea
								li: a(href="#") Avant
								li: a(href="#") Quadro
							ul
								li: a(href="#") Antique
								li: a(href="#") Toscana Plano
								li: a(href="#") Toscana Grigliato
								li: a(href="#") Toscana Litera
								li: a(href="#") Toscana Rombo
								li: a(href="#") Toscana Elegante
								li: a(href="#") Imperial
								li: a(href="#") Lignum
								li: a(href="#") Royal
							ul
								li: a(href="#") Neo
								li: a(href="#") Paris
								li: a(href="#") Centro
								li: a(href="#") Neo Classic
								li: a(href="#") Galant
								li: a(href="#") Ego
								li: a(href="#") Vario
							ul
								li: a(href="#") Velvet
								li: a(href="#") Wall Door
								li: a(href="#") Отделки COLOR
					+e.item.d-none.d-lg-block
						h5 Стили
						+e.item-wrap
							ul
								li: a(href="#") Неоклассика
								li: a(href="#") Классика
							ul
								li: a(href="#") Современный стиль
								li: a(href="#") Дизайн
							ul
								li: a(href="#") Алюминиевые двери
								li: a(href="#") Алюминиевые перегородки Formato
				+e.col.col-lg-auto.d-none.d-xxl-block
					+e.item
						H5 Подборки
						ul
							li: a(href="#") Белые двери
							li: a(href="#") Серые двери
							li: a(href="#") Двери из массива
							li: a(href="#") Шпонированные двери
							li: a(href="#") Двери со стеклом
							li: a(href="#") Черные двери
							li: a(href="#") Двери дуб
							li: a(href="#") Двери орех
							li: a(href="#") Двери с зеркалом
							li: a(href="#") Шпон ясень
					//- +e.col.col-auto.col-sm-6.col-lg-auto.d-none.d-lg-block
				+e.col.col-lg-auto.d-none.d-xl-block
					+e.item
						H5 Аксессуары
						ul
							li: a(href="#") Ручки
							li: a(href="#") Фурнитура
							li: a(href="#") Плинтус
					+e.item
						H5 Полезно
						ul
							li: a(href="#") Установка
							li: a(href="#") Гарантия
							li: a(href="#") Сертификаты
				+e.col--title.col.col-lg-auto
					+e.wapper
						+e.item
							H5 Двери кредо
							ul
								li: a(href="tel:+74952482017") +7 (495) 248-20-17
								li: a(href="mailto:sales@dveri-kredo.ru") sales@dveri-kredo.ru
								li: span Россия, г. Подольск, ул. Комсомольская д.1 ст.22
						+e.item
							H5 Компания
							ul
								li: a(href="#") О&nbsp;компании
								li: a(href="#") Новости
								li: a(href="#") Где купить
								li: a(href="#") Акции
								li: a(href="#") Дизайнерам
								li: a(href="#") Правовая информация
			+e.logo-wrap
				+e.logo(href='#')
					+img('img/footer-logo.png')
			+e.info
				+e.copyright © Двери Кредо, #[span.currentYear]
				+e.legal
					span Не&nbsp;является публичной офертой
					a(href="#") Карта сайта

