mixin sProductCard(data)
	// start sProductCard
	+b.SECTION.sProductCard.section#sProductCard&attributes(attributes)
		.container
			+b.section-title
				h2.h1 Межкомнатная дверь Neo 2101. Серый шёлк
				p Коллекция NEO&nbsp;&mdash; это актуальный и&nbsp;современный взгляд на&nbsp;классику. Простая и&nbsp;лаконичная, она гармонично сочетает традиционные формы дверей и&nbsp;минималистичные профили с&nbsp;гладкими филёнками, характерные для современного стиля. Полотна NEO могут адаптироваться практически к&nbsp;любому стилю интерьера в&nbsp;зависимости от&nbsp;выбранной модели, отделки и&nbsp;фурнитуры. Отличительные опциональные решения коллекции: &laquo;французская&raquo; решётка и&nbsp;двустороннее зеркало.
				
			+e.row.row
	// end sProductCard