// start .sProductCard
.sProductCard {
	--sPT: #{rem(50)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(40)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(118)};
		--sPB: #{rem(80)};
		--sTPB: #{rem(80)};
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	.section-title{
		text-align: center;
		h2 {
			text-transform: uppercase;
			margin-bottom: rem(30);
		}
		p {
			font-size: rem(20);
			line-height: 1.3em;
			color: $gray-600;
			margin-bottom: 0;
			max-width: rem(876);
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__col{

	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProductCard