// start .sProductCard
.sProductCard {
	--sPT: #{rem(50)};
	--sPB: #{rem(40)};
	--sTPB: #{rem(40)};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(118)};
		--sPB: #{rem(80)};
		--sTPB: #{rem(80)};
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(20)};

	}
	.section-title{
		text-align: center;
		h2 {
			text-transform: uppercase;
			margin-bottom: rem(30);
		}
		p {
			font-size: rem(20);
			line-height: 1.3em;
			color: $gray-600;
			margin-bottom: 0;
			max-width: rem(876);
			margin-left: auto;
			margin-right: auto;
			display: none;
			@include media-breakpoint-up(md) {
				display: block;
			}
		}
	}
	&__col{
		@include media-breakpoint-up(lg) {
			max-width: calc(rem(315) + var(--bs-gutter-x));
		}
	}
	&__img-wrap {
		@include block(282, 370);
		max-width: rem(282);
		margin-bottom: rem(30);
		@include media-breakpoint-up(md) {
			--ratio: 620/282;
		}
	}
	&__articul {
		font-size: rem(16);
		line-height: 1.3em;
		margin-bottom: rem(10);
	}
	&__info-wrap {
		margin-bottom: rem(22);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
		}
	}
	&__info {
		font-size: rem(14);
		line-height: 1.3em;
		color: $gray-600;
	}
	&__wrap {
		padding: rem(20);
		background-color: $gray-100;
		border-radius: 15px;
		margin-bottom: rem(22);
		width: 100%;
		@include media-breakpoint-up(md) {
			margin-bottom: rem(30);
		}
		p {
			font-size: rem(13);
			line-height: 1.3em;
			margin-bottom: 0;
			@include media-breakpoint-up(sm) {
				font-size: rem(14);
			}
		}
	}
	&__wrap-row {
		--bs-gutter-x: #{rem(15)};
		margin-bottom: rem(5);
		&:last-child {
			margin-bottom: rem(12);
		}
	}
	&__price {
		font-size: rem(20);
		font-weight: 500;
		@include media-breakpoint-up(sm) {
			font-size: rem(22);
		}
	}
	&__full-price {
		font-size: rem(26);
		margin-bottom: rem(13);
		padding-top: rem(7);
		span {
			font-size: rem(26);
   		font-weight: 600;
		}
	}
	&__post-scriptum {
		position: relative;
		font-size: rem(14);
		padding-left: rem(30);
		.icon {
			position: absolute;
			top: 0;
			left: 0;
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(20);
		}
	}
	&__footer-row {
		--bs-gutter-x: #{rem(10)};
		--bs-gutter-y: #{rem(10)};
		// .btn {
		// 	--bs-btn-padding-y: ;
		// }
		&.sticky {
			--bs-gutter-x: 0;
			--bs-gutter-y: 0;
			top: unset !important;
			bottom: 0 !important;
			z-index: 310;
			width: calc(100%) !important;
			background-color: #fff;
			left: 0 !important;
			justify-content: center;
			padding: rem(10) 0;
			gap: rem(5);
		}
	}
	&__btn {
		--bs-btn-padding-y: #{rem(14.25)};
		--bs-btn-font-size: #{rem(12)};
		--bs-btn-color: #fff;
		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;

		text-transform: uppercase;
	}
	&__small-btn {
		--bs-btn-padding-x: #{rem(10)};
    --bs-btn-padding-y: #{rem(10)};
		.icon {
			font-size: rem(24);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
	}
	&__difference {
		font-size: rem(12);
		color: $gray-600;
		position: relative;
		max-width: rem(224);
		margin-top: rem(10);
	}
	&__difference-link {
		background-color: transparent;
		border: none;
		position: absolute;
		top: 0;
		left: calc(100% + 3px);
		padding: 0;
		color: $gray-600;
		&:hover {
			color: $body-color;
		}
		.icon {
			font-size: rem(20);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
	}
	.tabs {
		&__caption {
			--bs-gutter-y: #{rem(10)};
			@include roww('20px', 'm');
			display: flex;
			flex-wrap: wrap;
			margin-bottom: rem(25);
			margin-top: calc(var(--bs-gutter-y) * -1);
			& > * {
				margin-top: var(--bs-gutter-y);
			}
		}
		&__btn {
			@include mt;
			width: 100%;
			// max-width: rem(182);
			border-radius: 8px;
			background-color: $gray-100;
			padding: rem(13);
			font-size: rem(12);
			text-transform: uppercase;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			line-height: 1.2;
			&:hover, &.active {
				background-color: $primary;
				color: #fff;
			}
			@include media-breakpoint-up(md) {
				max-width: rem(182);
			}
		}
		&__content {
			.h3 {
				margin-bottom: rem(7);
				text-transform: uppercase;
			}
		}
	}
	.custom-input {
		position: relative;
		padding-left: 0;
		margin-bottom: 0;
		padding: 0;
		// width: 100%;
		&__input {
			@include mt;

			--bs-border-width: #{rem(5)};
			--bs-border-color: transparent;

			margin-left: 0;
			margin-top: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 15px;
			&:checked {
				--bs-border-color: #{$primary};
				--bs-form-check-bg-image: none;
				background-color: transparent;
				border-color: #{$primary};
			}
			&:focus {
				border-color: #{$primary};
				box-shadow: none;
			}
			&:active {
				filter: none;
			}
		}
		&__text {
			position: relative;
		}
	}
	&__doors {
		.custom-input {
			width: calc(100% / 3);
			@include media-breakpoint-up(sm) {
				width: calc(100% / 4);
			}
			@include media-breakpoint-up(md) {
				width: calc(100% / 5);
			}
			@include media-breakpoint-up(lg) {
				width: 100%;
				max-width: rem(140);
			}
			&__img-wrap {
				@include block(140, 276);
				.img-wrap-center {
					margin: rem(12) rem(8);
				}
			}
		}
	}
	&__colors {
		.custom-input {
			width: calc(100% / 4);
			@include media-breakpoint-up(sm) {
				width: calc(100% / 8);
			}
			@include media-breakpoint-up(md) {
				width: calc(100% / 11);
			}
			@include media-breakpoint-up(lg) {
				width: 100%;
				max-width: rem(60);
			}
			&__img-wrap {
				@include block(60, 60);
				margin: rem(10);
				.img-wrap-center {
				}
				span {
					width: 100%;
					height: 100%;
					background: var(--bgColor);
					border-radius: 8px;
				}
			}
		}
	}
	&__type {
		.custom-input {
			border: 1px solid $gray-300;
			border-radius: 8px;
			padding: rem(7) rem(20);
			&__input {
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				left: -1px;
				top: -1px;
				border-radius: 8px;
				background-color: transparent;
			}
			&__text {
				font-size: rem(20);
				font-weight: 600;
				text-transform: uppercase;
				color: $gray-600;
			}
		}
	}
	&__portal {
		.custom-input {
			width: calc(100% / 4);
			@include media-breakpoint-up(sm) {
				width: calc(100% / 5);
			}
			@include media-breakpoint-up(md) {
				width: calc(100% / 6);
			}
			@include media-breakpoint-up(lg) {
				width: 100%;
				max-width: rem(110);
			}
			&__img-wrap {
				@include block(110, 110);
				.img-wrap-center {
					margin: rem(10);
					img {
						border-radius: 8px;
					}
				}
			}
		}
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-top: calc(var(--bs-gutter-y) * -1);
		margin-left: rem(-10);
		& > * {
			margin-top: var(--bs-gutter-y);
		}
		&--input {
			--bs-gutter-y: #{rem(23)};
		}
		&--colors {
			--bs-gutter-y: #{rem(10)};

			margin-bottom: rem(25);
		}
		&--portal {
			--bs-gutter-y: #{rem(10)};

			margin-bottom: rem(20);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(40);
			}
		}
	}
	&__text {
		font-size: rem(14);
	}
	.dd-group {
		&__item {
			&.active {
				.dd-group__head {
					.icon {
						transform: rotate(-180deg);
					}
				}
			}
		}
		&__head {
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			background-color: $gray-100;
			border-radius: 8px;
			margin-bottom: rem(10);
			padding: rem(8);
			cursor: pointer;
			@include media-breakpoint-up(md) {
				display: none;
			}
			h5 {
				margin-bottom: 0;
			}
			.icon {
				@include mt;
				flex: 0 0 auto;
				font-size: rem(24);
				margin-left: rem(5);
			}
		}
		&__content {
			display: none;
			@include media-breakpoint-up(md) {
				display: block !important;
			}
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProductCard