
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu оформление заказа
				.row
					.col-6
						+input("Фамилия Имя Отчество *:")(required)
						+input("Номер телефона *:")(required)
						+input("E-mail *:")(required)
					.col-6
						+input("Город *:")(required)
						+input("Комментарии:")
				+policy()
				+e.BUTTON.btn.btn.btn-primary(type="submit") отправить
			+e.notes
				span * поля, обязательные для заполнения
				span ** - в&nbsp;рабочие дни с&nbsp;8-30 до&nbsp;17-30 по&nbsp;Московскому времени
	// #modal-call
	
	// end modals