
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h1 Oформление заказа
				.row
					.col-md-6
						+input('', 'text', "Фамилия Имя Отчество *:")(required)
						+input('+7 (___) ___ - ___ - __', 'tel', "Номер телефона *:")(required)
						+input('', 'email', "E-mail *:")(required)
					.col-md-6
						+input('Москва и МО','select',"Город *:")(required)
						+input('','textarea', "Комментарии:")
				+policy('Принимаю условия обработки персональных данных')
				+e.footer
					+e.BUTTON.btn.btn.btn-primary(type="submit") отправить
					+e.notes
						span * поля, обязательные для заполнения
						span ** - в&nbsp;рабочие дни с&nbsp;8-30 до&nbsp;17-30 по&nbsp;Московскому времени


	// #modal-call
	
	// end modals