mixin headerBlock()
	// start headerBlock
	+b.headerBlock--js.swiper.section#headerBlock&attributes(attributes)
		.swiper-wrapper
			+e.slide.swiper-slide.bg-wrap
				+e.img-wrap
					+img('img/headerBlock-img-1.png', 'bg').picture-bg
			+e.slide.swiper-slide
				+e.img-wrap
					+img('img/headerBlock-img-1.png', 'bg').picture-bg
			+e.slide.swiper-slide
				+e.img-wrap
					+img('img/headerBlock-img-1.png', 'bg').picture-bg
	// end headerBlock