mixin sGoods(data)
	// start sGoods
	+b.SECTION.sGoods.section#sGoods&attributes(attributes)
		.container
			+b.sorting
				mixin sortingItem(t)
					.col-auto
						+e.btn(href="#")&attributes(attributes)!= t
				+e.content
					+e.row.row
						+sortingItem(`Все двери`).active
						+sortingItem(`Белые двери`)
						+sortingItem(`Серые двери`)
						+sortingItem(`Двери из&nbsp;массива`)
						+sortingItem(`Массив со&nbsp;стеклом`)
						+sortingItem(`Массив классический`)
						+sortingItem(`Межкомнатные двери из&nbsp;массива дуба`)
						+sortingItem(`Шпонированный дуб`)
						+sortingItem(`Двери со стеклом`)
						+sortingItem(`Черные двери`)
						+sortingItem(`Антрацит`)
						+sortingItem(`Белая эмаль`)
						+sortingItem(`Двери из&nbsp;массива`)
						+sortingItem(`Массив со&nbsp;стеклом`)
						+sortingItem(`Массив классический`)
						+sortingItem(`Межкомнатные двери из&nbsp;массива дуба`)
						+sortingItem(`Шпонированный дуб`)
				+e.BUTTON.btn-more Показать все
					span 

			+e.row.row
				.col-12.col-lg-auto.col-xxl-3.asideCol
					+sFilter()
				.col
					+b.sGoods-heading
						+input('Сначала популярные',  'select')
						+e.filtered Найдено 145 товаров
					block
					+e.footer
						+e.btn(href="#").btn.btn-dark показать ещё
						//- +pagin-sm().d-sm-none
						//- +pagin-lg().d-none.d-sm-block
						// end sGoods