mixin sGoods(data)
	// start sGoods
	+b.SECTION.sGoods.section#sGoods&attributes(attributes)
		.container
			+b.sorting
				mixin sortingItem(t)
					.col-auto
						+e.btn(href="#")&attributes(attributes)!= t
				+e.content
					+e.row.row
						+sortingItem(`Все двери`).active
						+sortingItem(`Белые двери`)
						+sortingItem(`Серые двери`)
						+sortingItem(`Двери из&nbsp;массива`)
						+sortingItem(`Массив со&nbsp;стеклом`)
						+sortingItem(`Массив классический`)
						+sortingItem(`Межкомнатные двери из&nbsp;массива дуба`)
						+sortingItem(`Шпонированный дуб`)
						+sortingItem(`Двери со стеклом`)
						+sortingItem(`Черные двери`)
						+sortingItem(`Антрацит`)
						+sortingItem(`Белая эмаль`)
						+sortingItem(`Двери из&nbsp;массива`)
						+sortingItem(`Массив со&nbsp;стеклом`)
						+sortingItem(`Массив классический`)
						+sortingItem(`Межкомнатные двери из&nbsp;массива дуба`)
						+sortingItem(`Шпонированный дуб`)
				+e.BUTTON.btn-more Показать все
					span 

			+e.row.row
				.col-12.col-lg-auto.col-xxl-3.asideCol
					+sFilter()
				.col
					+b.sGoods-heading
						+input('Сначала популярные',  'select')
						+e.filtered Найдено 145 товаров
					block
					+e.footer
						+e.btn(href="#").btn.btn-dark показать ещё
						+pagin-sm().d-sm-none
						+pagin-lg().d-none.d-sm-block
					+b.tabs-slider.tabs
						.tabs__caption.swiper.tabs-slider--js
								.swiper-wrapper
									.tabs__btn.swiper-slide.active Белые межкомнатные двери
									.tabs__btn.swiper-slide Преимущества белых дверей
									.tabs__btn.swiper-slide Возможности выбора
						.tabs__content.active
							p Межкомнатные двери белого цвета хорошо вписываются практически в&nbsp;любой интерьер и&nbsp;сочетаются с&nbsp;другими элементами дизайна. Мы&nbsp;создали десятки решений, среди которых есть и&nbsp;белые классические двери, и&nbsp;современные полотна. Кроме того, белые двери представлены в&nbsp;разных материалах&nbsp;&mdash; от&nbsp;массива и&nbsp;#[a(href="#") белой эмали], до&nbsp;ламинатина, что позволяет уложиться в&nbsp;любой бюджет. Приглашаем выбрать идеальное полотно в&nbsp;нашей галерее и&nbsp;#[a(href="#") купить межкомнатные двери] в&nbsp;любом салоне &laquo;Волховец&raquo; по&nbsp;всей России.
						.tabs__content
							p Межкомнатные двери белого цвета хорошо вписываются практически в&nbsp;любой интерьер и&nbsp;сочетаются с&nbsp;другими элементами дизайна. Мы&nbsp;создали десятки решений, среди которых есть и&nbsp;белые классические двери, и&nbsp;современные полотна.
						.tabs__content
							p Межкомнатные двери белого цвета хорошо вписываются практически в&nbsp;любой интерьер и&nbsp;сочетаются с&nbsp;другими элементами дизайна. Мы&nbsp;создали десятки решений, среди которых есть и&nbsp;белые классические двери, и&nbsp;современные полотна. Кроме того, белые двери представлены в&nbsp;разных материалах&nbsp;&mdash; от&nbsp;массива и&nbsp;#[a(href="#") белой эмали], до&nbsp;ламинатина, что позволяет уложиться в&nbsp;любой бюджет.
									
						// end sGoods