mixin sInfoBlock(bgImg, title, text, btnText)
	// start sInfoBlock
	+b.SECTION.sInfoBlock.section(style=`--bgImage: url(../img/${bgImg})`)&attributes(attributes)
		.container
			+b.section-title
				h2.h1!= title
				p!= text
				+e.btn.btn.btn-outline-light(href='#')!= btnText
	// end sInfoBlock