mixin sCatalog(data)
	// start sCatalog
	+b.sCatalog.section&attributes(attributes)
		.container
			+e.row.row
				- const wrapClass="col-sm-6 col-lg-4"
				+e.col(class= wrapClass)
					+card-item({
						img: 'card-img-13.jpg',
						title: 'Межкомнатные двери',
						notBtn: true,
						isIcon: true
					})
				+e.col(class= wrapClass)
					+card-item({
						img: 'card-img-14.jpg',
						title: 'Стеновые панели',
						notBtn: true,
						isIcon: true
					})
				+e.col(class= wrapClass)
					+card-item({
						img: 'card-img-15.jpg',
						title: 'Ручки',
						notBtn: true,
						isIcon: true
					})
				+e.col(class= wrapClass)
					+card-item({
						img: 'card-img-13.jpg',
						title: 'Алюминивые перегородки',
						notBtn: true,
						isIcon: true
					})

	// end sCatalog