mixin filterCheck(type, text, btn)
	.sFilter__check
		+in-c(`${type}`, `${text}`)&attributes(attributes)
		if btn
			button(type="button"): +icon('help')


mixin sFilter(data)
	// start sFilter
	+b.sFilter&attributes(attributes) 
		+e.btn.d-lg-none
			span 20
			//- +icon('filters') 
			| Фильтры
		+e.wrap
			+e.body
				+e.filterHead
					h5 Фильтры
					+e.BUTTON.filterCloseBtn
						span
						
				+ddGroup()
					+e.wraper
						+ddGroupItem('Цена, ₽', 'active')
							.extra-controls
								label
									span от
									input.js-input-from(type='number' value='0')
								label
									span до
									input.js-input-to(type='number' value='0')
							.range-slider
								input.js-range-slider(type='number' value='')
						
						+ddGroupItem('Цвет')
							// класс .check-light для темных цветов (белый чек)
							+filterCheck('checkbox', 'Белый')(style="--checkBg: #fff")
							+filterCheck('checkbox', 'Серый')(style="--checkBg: #DEDEDE")
							+filterCheck('checkbox', 'Светло-коричневый')(style="--checkBg: #F2E4BA")
							+filterCheck('checkbox', 'Темно-коричневый')(style="--checkBg: #633007").check-light
							+filterCheck('checkbox', 'Черный')(style="--checkBg: #000000").check-light

						+ddGroupItem('Материал')
							+filterCheck('checkbox', 'Массив', 'btn')
							+filterCheck('checkbox', 'Грунт под покраску')
							+filterCheck('checkbox', 'Шпон', 'btn')
							+filterCheck('checkbox', 'Ciplex', 'btn')
							+filterCheck('checkbox', 'Алюминий и стекло')
							+filterCheck('checkbox', 'Technofoil ламинатин', 'btn')
							+filterCheck('checkbox', 'Алюминий и стекло')
							+filterCheck('checkbox', 'Шпон', 'btn')
							
						+ddGroupItem('Остекление')
							+filterCheck('radio', 'Показывать все')(checked)
							+filterCheck('radio', 'Без стекла')
							+filterCheck('radio', 'Со стеклом')

						+ddGroupItem('Стиль')
							+filterCheck('checkbox', 'Современный стиль')
							+filterCheck('checkbox', 'Дизайн')
							+filterCheck('checkbox', 'Классика')
							+filterCheck('checkbox', 'Неоклассика')

						+ddGroupItem('Коллекция')
							- for (var x = 0; x < 4; x++)
								+filterCheck('checkbox', 'Mascot')
								+filterCheck('checkbox', 'Rocca')
								+filterCheck('checkbox', 'Velvet')
								+filterCheck('checkbox', 'Planum')
								+filterCheck('checkbox', 'Planum Pro')
								+filterCheck('checkbox', 'Linea')
							

						+ddGroupItem('Прочее')
							+filterCheck('checkbox', 'Акция')
							+filterCheck('checkbox', 'Новинка')
				+e.fixedBtns
					+e.BUTTON.btn-showMore.btn.btn-dark Посмотреть 296 предложений
		//- +e.btn-bottom.d-lg-none
		//- 	+icon('filter') 
		//- 	| Фильтры
	// end sFilter