// start .sFilter
@include media-breakpoint-down(lg) {
	
	.sFilter__wrap {
		// display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: translateX(calc(-1 * 110%));
		@include mt;
		background-color: #fff;
		z-index: 1300;
		// overflow-y: auto;
		// overflow-x: hidden;
		&.active {
			transform: translateX(0);
		}
		.sFilter__body {
			display: flex;
			flex-direction: column;
		}

		.dd-group {
			// height: calc(100vh - 68px);
			overflow-y: auto;
			overflow-x: hidden;
			flex-grow: 1;
			padding-top: rem(8);
			padding-left: rem(24);
			padding-right: rem(24);
			padding-bottom: calc(env(safe-area-inset-bottom) + #{rem(80)});
			&__content{
				&:not(.active){
					display:none;
				}
			}
		}
	}
}
.sFilter {
	--sPT: 0;
	--sPB: 0;
	// --sTPB: ;
	// @include media-breakpoint-up(lg) {
	// 	padding-bottom: rem(83);
	// 	// flex-grow: 1;
	// }
	// @include media-breakpoint-up(xxl) {
	// 	padding-right: rem(16);
	// }
	&__btn {
		position: relative;
		@extend .btn, .btn-light;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(14);
		line-height: calc(24 / 14);
		padding: rem(7) rem(50);
		// margin-top: rem(22);
		// height: 40px;
		&:hover {
			span {
				background-color: $white;
				color: $primary;
			}
		}
		span {
			@include mt;
			position: absolute;
			top: 50%;
			bottom: auto;
			transform: translateY(-50%);
			right: rem(16);
			left: auto;
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			min-width: 20px;
			height: 20px;
			font-size: 12px;
			background-color: $primary;
			color: $white;
			border-radius: 20px;
			padding: 2px 3px 0 3px;
		}
		.icon {
			
			margin-right: rem(8);
			font-size: rem(24);
		}
		&:hover {
			@extend .btn-primary;
		}
	}

	&__title {
		padding-bottom: rem(32);
		margin-bottom: rem(24);
		border-bottom: 1px solid rgba($color: #05141f, $alpha: 0.1);
		h4 {
			font-weight: 600;
			margin-bottom: 0;
			font-size: rem(21);
		}
	}
	&__wrap {
		// padding-top: rem(19);
	}
	.custom-input {
		cursor: pointer;
		margin-bottom: rem(10);
		&:last-child {
			margin-bottom: 0;
		}

		span {
			display: inline-block;
		}
		&__input {
			background-color: var(--checkBg, #fff);
			margin-top: 0.09em;
			&.check-light:checked[type="checkbox"] {
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.3' d='m6 10 3 3 6-6'/></svg>");
			}
		}
		// &__text {
		// 	& + span {
		// 		color: $secondary;
		// 		margin-left: rem(8);
		// 	}
		// }
	}
	&__check {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.custom-input {
			margin-bottom: 0;
			flex-grow: 1;
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
		button {
			@include mt(0.2s);
			color: $gray-300;
			padding: 0;
			width: rem(20);
			height: rem(20);
			background-color: transparent;
			border: none;
			margin-left: rem(8);
			&:hover {
				color: $body-color;
			}
			&:disabled {
				pointer-events: none;
			}
			.icon {
				font-size: rem(20);
				fill: none;
				stroke: currentColor;
			}
		}
	}
	.dd-group {
		@include media-breakpoint-up(lg) {
			padding: rem(5) rem(19);
			border: 1px solid $border-color;
			border-radius: $border-radius-lg;
		}
		&__head {
			@include mt;
			display: flex;
			cursor: pointer;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 0;
			padding-top: rem(15);
			margin-bottom: rem(15);
			padding-left: 0;
			h5 {
				font-weight: 500;
				font-size: rem(18);
				margin-bottom: 0;
			}
			.icon {
				@include mt;
				font-size: rem(20);
				fill: currentColor;
				stroke: none;
			}

			// &.form-switch {
			// 	position: relative;
			// 	cursor: auto;
			// 	display: flex;
			// 	align-items: center;
			// 	justify-content: space-between;
			// 	label {
			// 		// width: 100%;
			// 		cursor: pointer;
			// 		&:after {
			// 			content: "";
			// 			position: absolute;
			// 			width: 100%;
			// 			height: 100%;
			// 			left: 0;
			// 			top: 0;
			// 		}
			// 		.form-check-input {
			// 			box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.16);
			// 			margin: 0;
			// 			// margin-left: 0;
			// 			// width: rem(44);
			// 			color: $white;
			// 			background-color: $border-color;
			// 			border-color: $border-color;
			// 			height: 1.5em;
			// 			background-size: calc(1.5em + 2px);
			// 			background-position: -2px center;
			// 			&:active,
			// 			&:focus {
			// 				color: $white;
			// 				background-color: $border-color;
			// 				border-color: $border-color;
			// 				filter: none;
			// 			}
			// 			&:checked {
			// 				background-color: $primary;
			// 				border-color: $primary;
			// 				background-position: calc(100% + 2px) center;
			// 			}
			// 		}
			// 	}
			// }
		}
		&__content {
			padding-bottom: rem(20);
			.sFilter__check {
				display: none;
				&:nth-child(-n + 6), &.is-visible {
					display: flex;
				}
			}
		}
		&__item {
			// &:first-child {
			// 	.dd-group__head {
			// 		padding-top: 0;
			// 	}
			// }
			&:not(:last-child) {
				border-bottom: 1px solid $border-color;
			}
			&.active {
				.dd-group__head {
					.icon {
						transform: rotateX(180deg);
					}
				}
			}
			&:last-child {
				.dd-group__content {
					margin-bottom: 0;
				}
			}
		}
		.range-slider {
			padding-top: rem(20);
			// & > .irs {
			// 	margin-bottom: rem(8);
			// }
		}
	}
	.irs {
		&-from,
		&-to,
		&-single,
		&-min,
		&-max {
			visibility: hidden !important;
			display: none;
			position: absolute !important;
		}
		&-line {
			position: sticky;
			background-color: #dadada;
			// border-radius: 10px;
		}
		&-handle {
			top: rem(-8);
			border-color: $dark;
			border-width: rem(5);
			width: rem(20);
			height: rem(20);
		}
		&-bar {
			top: 0;
			background-color: $dark;
		}
		&--round {
			height: rem(14);
		}
	}
	.extra-controls {
		// display: flex;
		@extend .row;
		--bs-gutter-x: #{rem(10)} !important;
		font-size: rem(14);
		line-height: 1.3;
		label {
			// @include roww(5px, m);
			@extend .col-6;
			position: relative;
			display: flex;
			align-items: center;
			// padding-bottom: rem(10);
			// border-bottom: 1px solid $body-color;
			// &::before {
			// 	content: '';
			// 	display: block;
			// 	position: absolute;
			// 	width: calc(100% - var(--bs-gutter-x));
			// 	height: 1px;
			// 	left: calc(var(--bs-gutter-x) / 2);
			// 	background-color:  $body-color;
			// 	bottom: 0;
			// }
			span {
				@include a-cent1;
				display: block;
				left: calc(var(--bs-gutter-x) + #{rem(15)});
			}
		}
		input {
			@include mt;
			width: 100%;
			border: 1px solid $input-border-color;
			border-radius: 0;
			color: $secondary;
			padding: rem(9) rem(15) rem(9) rem(35);
			&:focus {
				border-color: $input-focus-border-color;
				color: $input-focus-color;
				outline: none;
			}
		}
	}
	&__body {
		@include media-breakpoint-down(lg) {
			position: absolute;
			z-index: 23132;
			background: white;
			width: 100vw;
			left: 0;
			top: 0;
			height: 100%;
			.dd-group {
				// max-width: 360px;
				// margin-left: auto;
				// margin-right: auto;
			}
		}
		// & > .dd-group {
		// 	@include media-breakpoint-down(lg) {
		// 		padding-top: 16px;
		// 	}
		// }
	}
	&__filterHead {
		// position: relative;
		display: flex;
		// max-width: 360px;
		// margin-left: auto;
		// margin-right: auto;
		padding: rem(16) rem(24) rem(8) rem(24);
		justify-content: space-between;
		align-items: center;
		// margin-bottom: 16px;
		@include media-breakpoint-up(lg) {
			display: none;
		}
		// &::before {
		// 	content: "";
		// 	display: block;
		// 	position: absolute;
		// 	height: 100%;
		// 	width: 100vw;
		// 	background: #f8f8f8;
		// 	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
		// 	top: 0;
		// 	left: 0;
		// 	z-index: -1;
		// }
		button {
			position: relative;
			@include mt;
			width: rem(24);
			height: 100%;
			padding: 0;
			background-color: transparent;
			border: none;
			color: $body-color;
			span {
				@include a-cent;
				width: rem(20);
				height: rem(20);
				&::before,
				&::after {
					content: "";
					@include a-cent;
					transform: rotate(45deg);
					position: absolute;
					background-color: currentColor;
				}
				&::before {
					width: 100%;
					height: rem(2);
				}
				&:after {
					width: rem(2);
					height: 100%;
				}
			}
			&:hover {
				color: $secondary;
			}
			// .icon {
			// 	font-size: rem(12);
			// 	color: currentColor;
			// }
			// &:after,
			// &:before {
			// 	@include mt;
			// 	content: "";
			// 	position: absolute;
			// 	display: block;
			// 	top: 50%;
			// 	width: 100%;
			// 	height: 2px;
			// 	background-color: #14181f;
			// 	&:hover {
			// 		background-color: $secondary;
			// 	}
			// }
			// &:after {
			// 	transform: translateY(-50%) rotate(-45deg);
			// }
			// &:before {
			// 	transform: translateY(-50%) rotate(45deg);
			// }
		}
		h5 {
			font-weight: 600;
			font-size: rem(28);
			line-height: calc(40 / 28);
			margin-bottom: 0;
		}
	}
	&__fixedBtns {
		display: block;
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 1000;
		padding: rem(20) rem(24);
		background-color: $white;
		box-shadow: inset 0px 1px 0px #e5e6e4;
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	&__btn-showMore {
		padding: rem(11) rem(24);
		width: 100%;
		text-transform: uppercase;
		// @include media-breakpoint-up(lg) {
		// 	display: none;
		// }
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sFilter
