.menu{
	// @include media-breakpoint-up(lg) {

	// 	display: flex;
	// 	text-align: center;
	// 	@include roww(20px);
	// 	flex-wrap: wrap;
	// }

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li{
		
		// margin-left: 0;
		// margin-right: 0;
		padding: 0;
	}
	a{
		display: block;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}



.toggle-menu-mobile {
	--h: #{rem(4)};
	--color: #fff;
	--position: calc(var(--h) * 2);
	&.on span {
		--color: transparent;
	}

	&.on  { 
		--position: 0; 
		--rotate: 45deg;
		span:after,
		span:before {
			--color: #000;
		}
	}
	display: block;
	height: calc(var(--h)* 8);
	position: relative; 
	font-size: 30px;
	width: 1em;
	cursor: pointer;
	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	} 
	span {
		@include a-cent(y);
		display: block;
	}

	span:before { 
		top: var(--position);
		transform: rotate3d(0,0,1, var(--rotate, 0));
	}

	span:after {
		bottom: var(--position);
		transform: rotate3d(0,0,1, calc(-1 * var(--rotate,0)));
	}
	span,
	span:after,
	span:before {
		// width: 32px;
		width: 1em;
		height: var(--h);
		background-color: var(--color);
		transition: all 0.3s;
		backface-visibility: hidden; 
		transform-origin: 50% 50%;
		border-radius: 10px;
	} 
	p {
		margin-left: rem(35);
	}
}
@include media-breakpoint-down(lg) {

	

}
.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-width: 100%;
	// height: calc(var(--vh, 1vh) * 100);
	// height: 100vh;
	width: 447px;
	top: 0;
	left: 0;
	// right: 0;
	background-color: $body-bg;
	&:not(.active){
		transform: translate3d(-120%, 0,0);
		--opacity: 0;
		.toggle-menu-mobile{
			opacity: 0;
		}
	}
	@include mt(.6s);
	will-change: transform;

	
	.toggle-menu-mobile { 
		margin-left: -15%;
		position: absolute; 
		left: 0;
		right: auto;
		color: #FFF;
		top: 10px;
		z-index: 9999; 
		span:after,
		span:before {
			--color: #000;
		}
	}
	&__head {
		border-bottom: 1px solid #dedede;
    padding: rem(27.5) rem(36);
    min-height: rem(87);
		position: relative;
		.toggle-menu-mobile {
			--color: #000;

			position: static;
			margin-left: 0;
			p {
				display: none;
			}
		}
	}
	&__inner {
		display: flex;
		flex-direction: column;
		padding: calc(env(safe-area-inset-top, 0px) + #{rem(20)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		height: calc(100vh - rem(87));
		// @include mt(.3s);
		// transition-delay: .4s;
		// opacity: var(--opacity);
	}

	&.active { 
		.toggle-menu-mobile {
			opacity: 1;
		}
	}


	ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		margin-bottom: rem(36);
	}

	li {
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);
		padding: rem(10) rem(36);
		a {
			// font-size: 16px;

			// padding: 10px;
			display: block;
			color: #000;
			font-size: rem(22);
			line-height: calc(29/22);
			position: relative;
			&:hover {
				&:before {
					width: 100%;
				}
			}
			&:before {
				@include mt;
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				height: 1px;
				width: 0;
				background: $gray-900;
				z-index: -1;
			}
		}
	}
	&__list {
		margin-bottom: 0;
		li {
			padding: rem(8) rem(36);
			a {
				color: #000;
				font-size: rem(14);
				line-height: calc(18/14);
				position: relative;
				padding: 0;
				&:hover {
					&:before {
						width: 100%;
					}
				}
				&:before {
					@include mt;
					content: "";
					position: absolute;
					left: 0;
					bottom: 0;
					height: 1px;
					width: 0;
					background: $gray-900;
					z-index: -1;
				}
			}
		}
	}
	&__soc-wrap {
		padding: rem(40) rem(36) rem(20);
		margin-top: auto;
		p {
			font-size: rem(18);
			line-height: calc(24/18);
			color: #000;
			margin-bottom: rem(20);
		}
	}
	.search-block {
		padding: 0 rem(36);
		margin-bottom: rem(40);
		position: relative;
		&:focus {
			&:before {
				width: calc(100% - rem(72) - rem(49));
			}
		}
		form {
			position: relative;
		}
		input {
			padding-left: rem(49);
			color: $gray-600;
			font-size: rem(18);
			line-height: 1.3;
			&:focus {
				& ~ .line {
					width: calc(100% - rem(49));
				}
			}
		}
		.line {
			@include mt;
			position: absolute;
			left: rem(49);
			bottom: 0;
			height: 1px;
			width: 0;
			background: $gray-900;
			z-index: 1;
		}
		button {
			.icon {
				font-size: rem(23);
				fill: none;
				stroke: currentColor;
				stroke-width: 2px;
			}
		}
	}
}