.soc {
	@include roww(20px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	&__item {
		width: rem(40);
		height: rem(40);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #cecece;
		color: #fff;
		&:hover {
			color: #000;
			background-color: #fff;
		}
	}
	.icon {
		flex: 0 0 auto;
		font-size: rem(22);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	position: relative;
	overflow: hidden;
	display: flex;
	&__btn-wrap {
		display: flex;
		flex-direction: column;
	}
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn {
		flex-shrink: 0;
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		// &::before,
		// &::after {
		// 	content: "";
		// 	width: 10px;
		// 	height: 2px;
		// 	background-color: currentColor;
		// 	@include a-cent;
		// 	position: absolute;
		// }
		// &--plus::after {
		// 	transform: rotate(90deg);
		// }
	}
}

.search-block {
	position: relative;
	input {
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon {
		font-size: rem(20);
		border: none !important;
	}
	button {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb {
	flex-wrap: nowrap;
}
.breadcrumb-item {
	width: auto;
	// margin-right: rem(32);
	a {
		color: inherit;
	}
}

.card {
	@include mt;
	overflow: hidden;
	background-color: $gray-100;
	border-radius: 15px;
	position: relative;
	height: 100%;
	&:hover {
		box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
		.card__link {
			color: $primary;
		}
	}
	&__img-wrap {
		@include block(594, 442);
		border-radius: 15px;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		overflow: hidden;
	}
	&__content {
		padding: rem(20) 0;
		width: calc(100% - rem(50));
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(lg) {
			width: calc(100% - rem(90));
		}
		@include media-breakpoint-up(md) {
			padding: rem(30) 0;
		}
	}
	&__content-row {
		--bs-gutter-x: #{rem(30)};
		--bs-gutter-y: #{rem(15)};
	}
	&__title {
		margin-bottom: rem(9);
		text-transform: uppercase;
	}
	&__text {
		font-size: rem(14);
		line-height: 1.3em;
		color: $gray-600;
	}
	&__btn {
		--bs-btn-color: #fff;
		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;
		text-transform: uppercase;
	}
	&__link {
		color: $gray-300;
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(32);
		}
	}
	&--solid {
		.card {
			&__content {
				pointer-events: none;
				padding: rem(20);
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
				color: #fff;
			}
			&__title {
				margin-bottom: 0;
			}
		}
	}
}

.page-head {
	--headerH: #{rem(81)};
	padding-top: var(--headerH);
	@include block(1920, 1125);
	@include media-breakpoint-up(md) {
		--headerH: #{rem(132)};
	}
	@include media-breakpoint-up(sm) {
		--ratio: 725/1920;
	}
	@include media-breakpoint-up(md) {
		--ratio: 325/1920;
	}
	@include media-breakpoint-up(lg) {
		--headerH: #{rem(174)};
	}
	&__wrap {
		position: absolute;
		top: var(--headerH);
		left: 0;
		width: 100%;
		height: calc(100% - var(--headerH));
		display: flex;
		align-items: center;
		justify-content: center;
		.breadcrumb {
			--bs-breadcrumb-item-padding-x: #{rem(31)};
			--bs-breadcrumb-item-active-color: #fff;

			margin-bottom: rem(22);
			&-item {
				position: relative;
				color: #fff;
				&:before {
					content: unset;
				}
				&::after {
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					height: 1px;
					background-color: rgba(255, 255, 255, 0.15);
					right: 0;
					bottom: 0;
				}
				& + .breadcrumb-item {
					&::after {
						width: calc(100% - var(--bs-breadcrumb-item-padding-x));
					}
				}
			}
		}
		h1 {
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 0;
		}
	}
}

.swiper-button-hand {
	--swiperArrowSize: #{rem(22)};
	--swiperColorDef: #{$body-color};

	border: none;
	border-radius: 0;
	height: rem(61);
	box-shadow: none;
	.icon {
		font-size: rem(61);
	}
}

.product-card {
	position: relative;
	@include mt;
	padding: rem(20);
	border-radius: $border-radius-lg;
	background-color: $white;
	height: 100%;
	display: flex;
	flex-direction: column;
	&:hover {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		.swiper-pagination,
		.swiper-button-hand {
			opacity: 1;
		}
	}
	&__img-wrap {
		@include block(242, 242);
		overflow: hidden;
	}
	&__head {
		display: flex;
		justify-content: space-between;
		min-height: rem(30);
		margin-bottom: rem(10);
	}
	&__tags {
		@include roww(8px, m);
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-top: calc(-1 * var(--bs-gutter-x) * 0.5);
		span {
			display: inline-block;
			font-family: "Roboto";
			font-weight: 400;
			font-size: rem(12);
			text-transform: uppercase;
			padding: rem(7) rem(10) rem(5);
			margin-top: calc(var(--bs-gutter-x) * 0.5);

			border: 1px solid #f0dd7c;
		}
	}
	&__btn-like {
		position: relative;
		width: rem(24);
		height: rem(24);
		margin-left: auto;
		color: $dark;
		display: block;
		flex-shrink: 0;
		&:hover,
		&.active {
			color: $dark;
			.icon {
				fill: currentColor;
			}
		}
		.icon {
			@include a-cent;
			font-size: rem(24);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
	}
	.slider-wrapper {
		margin-bottom: rem(22);
		position: relative;
	}
	@media (hover: hover) {
		.swiper-button-hand {
			opacity: 0;
		}
	}
	.swiper-button-hand {
		height: 100%;
		--swiperArrowSize: #{rem(24)};
		--swiperArrowPosition: 0;
		--swiperBorderColorDef: transparent;
		--swiperColorDef: var(--bs-border-color);
		--swiperBgDef: transparent;

		--swiperBorderColorDefHover: transparent;
		--swiperColorDefHover: var(--bs-body);
		--swiperBgDefHover: transparent;
		.icon {
			font-size: rem(24);
		}
	}
	@media (hover: hover) {
		.swiper-pagination {
			opacity: 0;
		}
	}
	.swiper-pagination {
		position: absolute;
		right: 0;
		top: calc(100% + 10px);
		left: 0;
		z-index: 5;
		display: flex;
		justify-content: center;
		// padding-top: 20px;
		.swiper-pagination-bullet {
			position: relative;
			border-radius: rem(5);
			width: 100%;
			height: 2px;
			transition-property: opacity, max-width;
			transition-duration: 0.3s;
			flex: 1 1 auto;
			max-width: rem(16);
			margin: 0 4px;
			background-color: $border-color;
			// cursor: pointer;
			&:hover {
				&::after {
					transform: scaleY(1);
				}
			}
			&::before {
				content: "";
				display: block;
				position: absolute;
				top: rem(-10);
				right: rem(-4);
				bottom: rem(-10);
				left: rem(-4);
			}
			&::after {
				content: "";
				display: block;
				position: absolute;
				top: -2px;
				right: 0;
				bottom: -2px;
				left: 0;
				background-color: $border-color;
				border-radius: rem(10);
				transform: scaleY(0.33);
				transition: transform 0.2s;
			}
		}
		.swiper-pagination-bullet-active {
			background-color: #3c3c3b;
			flex-grow: 2;
			max-width: rem(32);
			cursor: default;
			pointer-events: none;
			&::after {
				opacity: 0;
			}
		}
	}
	&__title {
		@extend .h4;
		font-weight: 500;
		border-bottom: 1px solid transparent;
		margin-bottom: rem(15);
		align-self: start;
		&:hover {
			border-color: currentcolor;
		}
	}
	&__caption {
		display: flex;
		flex-direction: column;
		// align-items: flex-start;
		flex-grow: 1;
		ul {
			list-style: none;
			flex-grow: 1;
			margin-bottom: rem(10);
			li {
				font-size: rem(14);
				color: $secondary;
			}
		}
	}
	&__price {
		@include roww(10px, m);
		display: flex;
		justify-content: space-between;
		align-items: center;
		span {
			@extend .h4;
			font-weight: 500;
			margin-bottom: 0;
		}
	}
	&__btn-add {
		@include mt(0.2s);
		position: relative;
		width: rem(38);
		height: rem(38);
		margin-left: auto;
		display: block;
		flex-shrink: 0;
		border-radius: 50%;
		color: $body-color;
		border: 2px solid currentColor;
		&:hover,
		&.active {
			color: $white;
			background-color: $link-hover-color;
			border-color: $link-hover-color;
		}
		.icon {
			@include a-cent;
			font-size: rem(24);
			fill: transparent;
			stroke: currentColor;
			stroke-width: 2px;
		}
	}
}
.upload-field {
	&__title {
		position: relative;
		top: unset;
		margin-bottom: rem(10);
	}
	&__wrap {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-top: rem(-15);
		& > * {
			margin-top: rem(15);
		}
		// @include media-breakpoint-down(sm) {
		// 	flex-direction: column;
		// 	align-items: flex-start;
		// }
		@include media-breakpoint-only(lg);
	}
	&__btn {
		--bs-btn-color: #fff;
		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;

		text-transform: uppercase;
		flex: 0 0 auto;
		min-width: rem(170);
	}
	&__input-wrap {
		margin-right: rem(20);
		@include media-breakpoint-down(sm) {
			// margin-right: 0;
			// margin-bottom: rem(20);
		}
	}
	&__file-name {
		font-size: rem(14);
		line-height: calc(20 / 16);
	}
}
.input-upload {
	display: none;
}
