mixin sCart(data)
	// start sCart
	+b.sCart.section#sCart&attributes(attributes)
		.container
			table
				thead
					tr
						th
						th Название товара
						th Количество
						th(colspan = "2") Сумма
				tbody
					mixin tr
						tr
							td
								+e.img-wrap(href="#")
									.img-wrap-center
										+img('img/sCart-1.jpg')
							td
								+e.title(href="#")
									span Neo
									span 2101 СШ
								ul
									li Отделка: Серый шёлк
									li Материал: Ciplex ламинатин
									li Портал: NEO Гладкий наличник
							td
								+addblock()
							td(colspan = "2")
								+e.price-wrap
									.h5 1242&nbsp;990&nbsp;₽
									a(href="#") Удалить из&nbsp;корзины
					+tr
					+tr
					+tr
			+e.total
				+e.sum 
					span Итого на сумму:
					b 252&nbsp;798&nbsp;₽
				+e.btn.btn.btn-primary(href=`#` data-src="modal-call" data-fancybox="modal") заказать
	// end sCart