mixin sBlockVar2(data)
	// start sBlockVar2
	+b.sBlockVar2.section#sBlockVar2&attributes(attributes)
		.container
			+e.row.row
				.col-lg-7
					+e.slider--js.swiper
						.swiper-wrapper
							+e.slide.swiper-slide
								+e.img-wrap(href="https://www.volhovec.ru/upload/iblock/21f/8we5dzu47m1w80cle6uxzkjsnxu6sl5e.jpg" data-fancybox="galblock2")
									+img("https://www.volhovec.ru/upload/iblock/21f/8we5dzu47m1w80cle6uxzkjsnxu6sl5e.jpg")
					.control-wrap.row
						.col
							.scrollbar-wrap
								.swiper-scrollbar
						.col-auto
							.arrow-wrap
								+arrow

				.col.order-lg-first
					+b.section-title
						h2 О коллекции
						p Двери с алюминиевой кромкой Planum Pro – гладкое полотно позволяет максимально раскрыть красоту выбранной отделки, поэтому пользуется большой популярностью у дизайнеров, как и новая возможность выбора цвета алюминиевой кромки и скрытого короба. Полотна Planum Pro могут быть изготовлены во всех отделках из ассортимента Волховец и прекрасно сочетаются с нашими стеновыми панелями.
	// end sBlockVar2