mixin sCardWrap(sectionTitle)
	// start sCreateDesign
	+b.sCardWrap.section&attributes(attributes)
		.container
			if sectionTitle
				+b.section-title Создайте интерьер вместе с&nbsp;&laquo;Двери Кредо&raquo;.<br>Выберите двери, а&nbsp;мы&nbsp;предложим функциональные решения в&nbsp;едином стиле. Завершить образ помогут аксессуары.
			block
	// end sCreateDesign